/*I added the box-shadow, changed the colors and followed the requirements as I understood*/

:root {
    --primary-color: #3a0000;
    --accent1-color: #000000;
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #f4f1ea;
    ;
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    padding: 20px;
    background-color: #bbb8b8;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

/* HERO */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 96.5%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 70px;
}

/*History(subtitles)*/
.history h2 {
    text-align: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #262626;
    text-align: justify;
}

.history-content img {
    width: 300px;
    height: auto;
}

.adventures h2 {
    text-align: center;
    margin-bottom: 20px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.adventure-gallery figure {
    text-align: center;
    flex: 1;
}

.adventure-gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.adventure-gallery figcaption {
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
    color: var(--primary-color);
}

section {
    margin: 40px 0;
    background-color: #969393;
    padding: 20px;
    border-radius: 15px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section,
header,
footer {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.552);
}

h1,
h2,
p {
    text-align: center;
}

form label {
    display: block;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.employees {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.employees figure {
    text-align: center;
}

.map {
    display: flex;
    gap: 3rem;
}

.site-information {
    display: grid;
    grid-template-columns: 1fr;

}

.block_1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.block_2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.block_1 div,
.block_2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_1 h2,
.block_2 h2 {
    margin: 0 0 10px 0;
}

.block_1 img,
.block_2 img {
    width: 550px;
    height: auto;
    border-radius: 10px;
}

.block_1 p,
.block_2 p {
    margin: 0;
}