* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: darkred;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: crimson;
    padding: .5rem
}

main {
    margin: 1rem auto;
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid crimson;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 175px;
    color: black
}

footer {
    max-width: 840px;
    margin: 0 auto;
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/*class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    margin-left: 1rem;
}